<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}</style>
<body>
        <%-include('./partials/navBar.ejs')%>
    <h1>animal</h1>
    <%=errMsG%>
    <table id="customers">
        <tr>
            <th>name</th>
            <th>price</th>
            <th>description</th>
            <th>image</th>
            <th>Options</th>
        </tr>
        <%dataAnimal.forEach(animal => { %>
            <tr>
                <td><%=animal.name%></td>
                <td><%=animal.price%></td>
                <td><%=animal.description%></td>
                <td><img src="/img/<%=animal.image%>" style="width: 140px;height: 130px;border: 0;" alt="animals"/></td>
                <td>
                    <form action="/animal/pick/<%=nama%>" method="POST">
                        <button name="chosen" type="submit" value="<%=animal.id%>"><%=animal.name%></button>
                    </form>
                </td>
    
            </tr>
        <%})%>
    </table>
</body>
</html>